*.loopinfo
*.ll
*build
*.bc
*.run
*.swp
*.svg
*.perf*
*.html
*.synth*
*.prog
*.verify*
iterativeDeepening/*.dir
*.dat
*.exp
*.profile*
*perf.data*
*.str
*.nostr
*.compare
*.cexp
gadgets/exp-*
*.native.run
*.native.o
